/* Container styling */
.container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Registration form styling */
.registration-form {
    flex: 0.65;
    min-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.registration-form input,
.registration-form select,
.registration-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registration-form button:hover {
    background-color: #45a049;
}

/* Order Summary Section */
.order-summary-section {
    flex: 0.35;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Order summary table styling */
#order-summary {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#order-summary th, 
#order-summary td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#order-summary th {
    background-color: #f2f2f2;
    font-weight: 600;
}

#order-summary td {
    font-size: 1rem;
    color: #333;
}

#total-price {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}
